// fontes
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// responsivo
@mixin start-responsivo {
  @media (max-width: 999px) { @content; }
}

// reaproveitamento

@mixin txt-cnt-offs-mob-app {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

@mixin d-cnt-offs-mob-app {
  padding-top: 30px;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

@mixin rodape-h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

// styles
@import 'menu', 'header', 'main', 'footer';

body {
  background-color: #fdfdfd;
}
